<div id="details" class="bg-color-default">

  <div class="profile">

    <div class="header">
      <button class="close">
        <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1.91199" y="9.1897" width="17.5006" height="3" rx="1.5" transform="rotate(37.7032 1.91199 9.1897)" fill="white"/>
          <rect width="17.5983" height="3" rx="1.5" transform="matrix(0.79119 -0.611571 -0.611571 -0.79119 1.83472 13.1362)" fill="white"/>
        </svg>        
      </button>
      <p class="name"></p>
    </div>
    <p class="number"></p>

    <div class="image">
      <i></i>
    </div>

    <div class="footer">
      <div>
        <div>
          <p class="weight"></p>
          <span>kg</span>
        </div>
        <p>Weight</p>
      </div>
      <div>
        <div>
          <p class="type"></p>
        </div>
        <p>Type</p>
      </div>
      <div>
        <div>
          <p class="height"></p>
          <span>m</span>
        </div>
        <p>Height</p>
      </div>
    </div>

  </div>
  
  <div class="content"></div>
</div>