@import '../../assets/sass/mixin';

#home {
  position: relative;
  box-shadow: var(--box-shadow);

  &.container {
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    height: 550px;
    background-color: var(--color-background);
    border-radius: var(--border-radius-34);
    padding: var(--spacing-30) var(--spacing-30) 0;
    display: flex;
    flex-direction: column;

    @include mobile {
      height: 100vh;
      width: 100vw;
      border-radius: 0;
      padding: var(--spacing-20);
    }
  }

  #header {
    order: 1;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    gap: var(--spacing-12);

    // Scrollbar spacing
    margin-right: calc(var(--spacing-15) * -1);
    padding-right: var(--spacing-15);

    @include mobile {
      grid-template-columns: 1fr 1fr;

      .card {
        justify-self: end;
        align-self: center;

        &:nth-child(even) {
          justify-self: start;
        }
      }
    }
  }

  .scroll-box {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-30);
    height: 100%;
    margin-right: calc(var(--spacing-15) * -1);
    padding-right: var(--spacing-15);

    order: 2;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mobile { 
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .loading {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-30);
    height: var(--sizing-60);
    z-index: 1;

    &.show {
      display: flex;
    }

    .spinner {
      animation: rotate 2s linear infinite;
      z-index: 2;
      width: var(--sizing-50);
      height: var(--sizing-50);
      
      & .path {
        stroke: var(--color-blue);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
      
    }
    
    @keyframes rotate {
      100% { transform: rotate(360deg); }
    }
    
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
    }
    
  }
}