@mixin sizing {
  --sizing-5: 5px;
  --sizing-22: 22px;
  --sizing-30: 30px;
  --sizing-40: 40px;
  --sizing-50: 50px;
  --sizing-60: 60px;
  --sizing-70: 70px;
  --sizing-110: 110px;
  --sizing-120: 120px;
  --sizing-160: 160px;
  --sizing-335: 335px;
}