.theme-default {
  // Elements
  --color-grass: #48D0B0;
  --color-fire: #FB6C6C;
  --color-water: #76BDFE;
  --color-bug: #B5D35E;
  --color-normal: #BCBCBC;
  --color-poisonous: #A244AA;
  --color-electric: #FFD86F;
  --color-land: #CC990E;
  --color-fighter: #EB8120;
  --color-psychic: #F98ABF;
  --color-rock: #AF9E60;
  --color-flying: #95ACFF;
  --color-ghost: #7B7698;
  --color-ice: #42DDFF;
  --color-dragon: #A583BF;
  --color-metallic: #9D9D9D;
  --color-night: #776645;
  --color-fairy: #F7C8FF;

  // Level bar
  --color-white: #FFFFFF;
  --color-red: #FA6565;
  --color-green: #41C07B;
  --color-yellow: #ffc800;
  --color-blue: #506ED8;
  --color-gray: #D4D4D4;

  // Background
  --color-text-gray: #808080;
  --color-text-opacity: #0000006b;
  --color-background: #C6ECED;
  --color-background-opacity: #ffffff38;
}