// Bootstrap based

$xs: 576px; // <576px
$sm: 576px; // ≥576px
$md: 768px; // ≥768px
$lg: 992px; // ≥992px
$xl: 1200px; // ≥1200px
$xxl: 1400px; // ≥1400px

@mixin xs {
  @media (max-width: #{$xs - 1px}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg}) and (max-width: #{$xl - 1px}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$xxl}) and (max-width: #{$xxl - 1px}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$xxl}) {
    @content;
  }
}

@mixin scale($_xs, $_sm, $_md, $_lg, $_xl, $_xxl) {
  @include xs($_xs);
  @include sm($_sm);
  @include md($_md);
  @include lg($_lg);
  @include xl($_xl);
  @include xxl($_xxl);
}