@import './mixing';
@import './tokens/tokens';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  min-height: 100vh;
}

// h1, h2, h3, h4, h5, h6 {
//   color: var(--font-header-color);
// }
