@import './tokens/tokens';
@import './mixin';
@import './reset';
@import './element-colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-size: var(--font-reference);;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-regular);
}